<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Bookstore management</title>
</head>
<% include ../layouts/header.ejs %>

    <body>
        <h1 class="text-center">Admin Organization</h1> <br>
        <h2 class="text-center">Payment History</h2> <br>
        <% for(let i=0; i < payments.length; i++) { %>
            <div>
                <div>
                  OrderID:  <%= payments[i].order_id%>
                </div>
                <div>
                  UserID:  <%= payments[i].user_id%>
                </div>
                <div>
                  Status:  <%= payments[i].status%>
                </div>
                <div>
                 Payment Option:   <%= payments[i].payment_option%>
                </div>
                <div>
                 Timestamp:  <%= payments[i].created_at%>
                </div>
                <div>
                    <button class="approve btn-success" data-paymentID="<%= payments[i].order_id%>" > Approve </button> <br>
                </div>
                <div>
                    <button class="decline btn-danger" data-paymentID="<%= payments[i].order_id%>"> Decline </button>
                </div>
            </div>
            <% } %>
    </body>
    <% include ../layouts/footer.ejs %>
        <script>
            $(document).ready(function () {
                var approveButton = $(".approve")
                var declineButton = $(".decline")

                approveButton.on('click', function (e) {
                    var paymentID = $(this).attr("data-paymentID")
                    var settings = {
                        "url": "/books/payment",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        "data": {
                            "paymentID": paymentID,
                            "status": "Approved"
                        }
                    };

                    $.ajax(settings)
                        .done(function (response) {
                            if (response == "success") {
                                Swal.fire({
                                    title: 'Approve Successfully',
                                    text: "You can insert another new book",
                                    icon: 'success',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                })
                            } else {
                                Swal.fire({
                                    title: 'Incomplete Approved',
                                    text: "test",
                                    icon: 'error',
                                })
                            }



                        });
                })
                declineButton.on('click', function (e) {
                    var paymentID = $(this).attr("data-paymentID")
                    var settings = {
                        "url": "/books/payment",
                        "method": "POST",
                        "timeout": 0,
                        "headers": {
                            "Content-Type": "application/x-www-form-urlencoded",
                        },
                        "data": {
                            "paymentID": paymentID,
                            "status": "Declined"
                        }
                    };

                    $.ajax(settings)
                        .done(function (response) {
                            if (response == "success") {
                                Swal.fire({
                                    title: 'Decline Successfully',
                                    text: "You can insert another new book",
                                    icon: 'success',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.reload();
                                    }
                                })
                            } else {
                                Swal.fire({
                                    title: 'Incomplete Declined',
                                    text: "test",
                                    icon: 'error',
                                })
                            }


                        });
                })
            });
        </script>

</html>