<!DOCTYPE html>
<html>

<head>
    <% include layouts/header.ejs %>
        <title> KMUTT Online BookStore </title>
</head>
<style>
    body {
        padding-top: 50px;
    }

    .rounded {
        border-radius: 1rem
    }

    .nav-pills .nav-link {
        color: #555
    }

    .nav-pills .nav-link.active {
        color: white
    }

    input[type="radio"] {
        margin-right: 5px
    }

    .bold {
        font-weight: bold
    }

    #selectAdr {
        appearance: none;
        background-color: #2ea44f;
        border: 1px solid rgba(27, 31, 35, .15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
    }

    #selectAdr:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    #selectAdr:hover {
        background-color: #2c974b;
    }

    #selectAdr:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }

    #selectAdr:disabled {
        background-color: #94d3a2;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
    }

    #selectAdr:active {
        background-color: #298e46;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }


    .shipAddress {
        font-size: 18px;
        margin-bottom: 10px;
        background: seashell;
        box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        border-width: 2px;
        ;
    }
</style>
<% include layouts/navbar.ejs %>

    <body>
        <div class="container">
            <div class="row mx-0 justify-content-xl center">
                <div class="col-lg-6">
                    <h4><b>Address</b></h4>
                    <% if(address.length> 0) {%>

                        <%for(var i=0; i< address.length; i++) {%>
                            <div class="shipAddress" id="<%=address[i].shipID%>">
                                <%=address[i].address%>&nbsp;
                                    <%=address[i].subdistrict%>&nbsp;
                                        <%=address[i].district%>&nbsp;<br>
                                            จ.<%=address[i].province%>,&nbsp;
                                                <%=address[i].postalCode%> <br>
                                                    <div align="right"><button class="use-Address" id="selectAdr"
                                                            data-adddressid="<%=address[i].shipID%>">Ship to this
                                                            address</button></div>
                            </div>
                            <% } %>
                                <div class="text-center"><button class="btn btn-primary" type="button"
                                        style="background-color: tomato;" id="newAddr">+ Add
                                        new address</button></div>
                                <% } else { %>
                                    <div class="text-center"><button class="btn btn-primary" type="button"
                                            style="background-color: tomato;" id="newAddr">+ Add
                                            new address</button></div>
                                    <% } %>
                                        <div style="display: none ; margin: auto;max-width: 700px;" id="insertAddress">
                                            <div
                                                style="font-size:1.2em; width: 380px; margin: 0 auto 1rem;display: inline-block;">
                                                <label>Address</label>
                                                <textarea class="form-control" type="text" id="detail"> </textarea>

                                                <div class="form-group">
                                                    <label>Provinces</label>
                                                    <select class="form-control" id="provinces">
                                                        <option disabled selected>Select Provinces</option>
                                                        <%for(var i=0; i< province.length; i++) {%>
                                                            <option value="<%=province[i].name_in_thai%>"
                                                                data-id="<%=province[i].id%>">
                                                                <%=province[i].name_in_thai%>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label id="dist">District</label>
                                                    <select class="form-control" id="district">
                                                        <option disabled selected>Select District</option>
                                                        <%for(var i=0; i< district.length; i++) {%>
                                                            <option value="<%=district[i].name_in_thai%>"
                                                                data-id="<%=district[i].province_id%>"
                                                                data-district-id="<%=district[i].id%>">
                                                                <%=district[i].name_in_thai%>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label id="subd">Subdistrict</label>
                                                    <select class="form-control" id="subDistrict">
                                                        <option disabled selected>Select SubDistrict</option>
                                                    </select>
                                                </div>
                                                <label id="post">PostalCode</label>
                                                <input class="form-control" type="text" readonly id="postID">

                                                <button type="submit" class="btn btn-primary mb-3" id="userAddress">Save
                                                    address</button>
                                            </div>
                                        </div>
                </div>
                <div class="col-lg-6" align="center">
                    <h4><b>Select your Payment</b></h4>
                    <div class="card ">
                        <div class="card-header">
                            <div class="form-check">
                                <form id="option_payment">
                                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                                        <!-- Credit card form tabs -->
                                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                                            <li class="nav-item"> <a data-toggle="pill" href="#store" class="nav-link ">
                                                    <i class="fa fa-bank mr-2"></i> รับสินค้าที่ร้าน</a> </li>
                                            <li class="nav-item"> <a data-toggle="pill" href="#bank" class="nav-link ">
                                                    <i class="fas fa-mobile-alt mr-2"></i>โอนเงินผ่านธนาคาร </a> </li>
                                            <li class="nav-item"> <a data-toggle="pill" href="#credit-card"
                                                    class="nav-link active "> <i
                                                        class="fas fa-credit-card mr-2"></i>Visa/Mastercard
                                                </a> </li>
                                        </ul>
                                    </div> <!-- End -->
                                </form>
                            </div>
                            <!-- Credit card form content -->
                           
                                <div class="tab-content">
        
                                <div id="credit-card" class="tab-pane fade show active pt-3">
                                    <form role="form" onsubmit="event.preventDefault()">
                                        <form id="checkout" action="/cart/omise" method="GET">
                                            <div id="token_errors"></div>
                                            <input type="hidden" name="omise_token">
                                            <div class="form-group"> <label for="username">
                                                    <h6>Card Owner</h6>
                                                </label> <input type="text" name="username"
                                                    placeholder="Card Owner Name" required class="form-control "
                                                    id="holder_name"> </div>
                                            <div class="form-group"> <label for="cardNumber">
                                                    <h6>Card number</h6>
                                                </label>
                                                <div class="input-group"> <input type="text" name="cardNumber"
                                                        placeholder="Valid card number" class="form-control "
                                                        id="number" required>
                                                    <div class="input-group-append"> <span
                                                            class="input-group-text text-muted">
                                                            <i class="fab fa-cc-visa mx-1"></i> <i
                                                                class="fab fa-cc-mastercard mx-1"></i> <i
                                                                class="fab fa-cc-amex mx-1"></i> </span> </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <div class="form-group"> <label><span class="hidden-xs">
                                                                <h6>Expiration Date</h6>
                                                            </span></label>
                                                        <div class="input-group">
                                                            <input type="number" placeholder="MM" name=""
                                                                class="form-control" id="expiration_month"
                                                                required>
                                                            <input type="number" placeholder="YY" name=""
                                                                class="form-control" id="expiration_year"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                            title="Three digit CV code on the back of your card">
                                                            <h6>CVV <i class="fa fa-question-circle d-inline"></i></h6>
                                                        </label> <input type="text" required class="form-control"
                                                            id="security_code">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" id="shipIDOmise" value="" name="shipIDToSend">
                                            <div class="card-footer">
                                                <button type="submit"
                                                    class="subscribe btn btn-primary btn-block shadow-sm"
                                                    id="create_token"> Confirm Payment
                                                </button>
                                        </form>
                                    </form>
                                </div>
                            </div> 
                          
                            <!-- Paypal info -->
                            <div class="tab-pane fade pt-3 Bank" id="bank" name="option" value="bank">
                                <h6 class="pb-2"> &nbsp; ศูนย์หนังสือพระจอมเกล้าธนบุรี
                                    <img src="https://www.picz.in.th/images/2018/01/03/97D733F2-9991-4311-9ACA-C08F6AE80391.png"
                                        alt="bualuang" style="float:left;width:50px;height:50px;"><br> &nbsp;
                                    ธนาคารกรุงเทพ สาขามหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี <br> &nbsp; เลขที่บัญชี
                                    024-2-xxxxx-x
                                </h6>
                                <div style="text-align: center;">
                                    <p>
                                        <button type="submit" class="btn btn-primary" type="submit"
                                            id="confirm">ยืนยันคำสั่งซื้อ</button>
                                    </p>
                                </div>
                                <p class="text-muted"> Note: กรุณาแจ้งชำระเงินที่หน้าเว็บไซต์ </p>
                            </div> <!-- End -->
                            <!-- bank transfer info -->
                            <div class="tab-pane fade pt-3 Store" id="store" name="option" value="store">
                                <img src="https://www.kmutt.ac.th/wp-content/uploads/2020/09/KMUTT_CI_Semi_Logo-normal-full-1061x1200.png"
                                    alt="university" style="float:left;width:80px;height:80px;">
                                <h6>ศูนย์หนังสือพระจอมเกล้าธนบุรี <br>126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ กรุงเทพฯ
                                    10140</h6> <br><br>
                                <div style="text-align: center;">
                                    <p> <button class="btn btn-primary " type="submit"
                                            id="confirm2">ยืนยันคำสั่งซื้อ</button>
                                    </p>
                                </div>
                                <p class="text-muted">Note: โปรดจำเลขคำสั่งซื้อของคุณเพื่อนำมาแจ้งพนักงานในวันรับสินค้า
                                </p>
                            </div> <!-- End -->
                            <!-- End -->
                        </div>
                    </div>
                    <!-- <div class="form-check">
                        <form id="option_payment">
                            <input type="radio" id="store" name="option" value="store">
                            <label for="store">รับสินค้าที่ร้าน</label><br>
                            <input type="radio" id="bank" name="option" value="bank">
                            <label for="bank">โอนเงินผ่านธนาคาร</label><br>
                            <input type="radio" id="omise" name="option" value="bank">
                            <label for="bank">ชำระผ่าน Visa/Mastercard</label>
                        </form>
                    </div> -->

                     <!-- Omise <br>
                    <div>
                        <form id="checkout" action="/users/omise" method="GET">
                            <div id="token_errors"></div>
            
                            <input type="hidden" name="omise_token">
            
                            <div>
                                Name<br>
                                <input type="text" data-omise="holder_name">
                            </div>
            
                            <div>
                                Number<br>
                                <input type="text" data-omise="number">
                            </div>
            
                            <div>
                                Date<br>
                                <input type="text" data-omise="expiration_month" size="4"> /
                                <input type="text" data-omise="expiration_year" size="8">
                            </div>
            
                            <div>
                                Security Code<br>
                                <input type="text" data-omise="security_code" size="8">
                            </div>
            
                            <input type="submit" id="create_token">
                            <input type="hidden" id="shipIDOmise" value="" name="shipIDToSend">
                        </form>
                    </div> -->
                    <!-- <div align="center">
                        <button class='btn btn-primary' type="submit" id="confirm">ยืนยันคำสั่งซื้อ</button>
                    </div> -->
                </div>
            </div>

        </div>

        <% include layouts/footer.ejs %>
    </body>

    <script src="https://cdn.omise.co/omise.js"></script>
    <script>
        Omise.setPublicKey("pkey_test_5pqd1sni9llkvowsnbr");
    </script>

    <script>
        var option = undefined;
        var shipID = [];
        let selectedAddressID = null;
        $(document).ready(function () {
            var postLabel = $('#post');
            var districtLabel = $('#dist');
            var subDistLabel = $('#subd');
            var provinces = $('#provinces');
            var district = $('#district');
            var subDistrict = $('#subDistrict');
            var postID = $('#postID');
            var usrAddr = $('#detail');
            district.hide();
            subDistrict.hide();
            postID.hide();
            postLabel.hide();
            districtLabel.hide();
            subDistLabel.hide();

            provinces.on('change', function (e) {
                console.log($(this).val());
                console.log($(this).find(':selected').attr('data-id'));
                district.children('option').hide();
                district.children("option[data-id=" + $(this).find(':selected').attr('data-id') + "]").show();
                if ($(this).find(':selected').attr('data-id') != district.find(':selected').attr('data-id') && district.find(':selected').attr('data-id')) {
                    district.prop('selectedIndex', 0);
                }
                subDistrict.prop('selectedIndex', 0);
                districtLabel.show();
                district.show();
                postLabel.hide();
                postID.hide();
            })

            district.on('change', function (e) {
                subDistLabel.show();
                subDistrict.show();
                postID.hide();
                console.log($(this).val());
                console.log($(this).find(':selected').attr('data-district-id'));
                $.ajax({
                    url: "/cart/subdistrict/" + $(this).find(':selected').attr('data-district-id'),
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        subDistrict.find('option').not(':first').remove();
                        $.each(response, function (key, value) {
                            subDistrict.append('<option value=' + value.name_in_thai + ' data-postID=' + value.zip_code + ' >' + value.name_in_thai + '</option>'); // return empty
                        });
                    }
                });
                subDistrict.prop('selectedIndex', 0);
            })

            subDistrict.on('change', function (e) {
                //  console.log($(this).find(':selected').attr('data-postID'));
                postID.val($(this).find(':selected').attr('data-postID'));
                postLabel.show();
                postID.show();
            })

        })
      
        $("#create_token").on( "click" , () => {
            if (option === undefined || selectedAddressID === null) {
                alert("Please select your option to payment!");
            } else {
                
            
            for (i = 0; i < shipID.length; i++) {
                var shipIDtoSend = parseInt(shipID[shipID.length - 1]);
            }

            console.log("Omise shipID :", shipIDtoSend);
            console.log("Holder name : ", $("#holder_name").val() ) ;
            console.log("Number : ", $("#number").val() ) ;
            console.log("Expiration month : ", $("#expiration_month").val() ) ;
            $("#shipIDOmise").val(shipIDtoSend) ;
            
            $("#create_token").prop("disabled", true) ;

            var card = {
                "name": $("#holder_name").val(),
                "number": $("#number").val(),
                "expiration_month": $("#expiration_month").val(),
                "expiration_year": $("#expiration_year").val(),
                "security_code": $("#security_code").val()
            };

            Omise.createToken("card", card, function (statusCode, response) {
                console.log("Response", response) ;
                console.log("Object", response.object) ;
                if (response.object == "error") {
                    var message_text = "Please check your input again.";
                    if (response.object == "error") {
                        message_text = response.message;
                    }
                    $("#token_errors").html(message_text);
                    $("#create_token").prop("disabled", false);
                } else {

                 
                    var settings = {
                    "url": "/cart/omise",
                    "method": "GET",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    "data": {
                        "token": response.id,
                        "shipIDToSend" : shipIDtoSend,
                        "paymentOption" : "CreditCard"
                    }
                };

                $.ajax(settings)
                    .done(function (response) {
                        console.log("Ajax success") ;
                        console.log("Response ajax", response) ;
                         window.location.href = `/cart/checkout/complete/${response}`;
                    });

                    $(".omise_token").val(response.id) ;
                    $("#number").val("") ;
                    $("#security_code").val("") ;

                };
            });

            return false;
        }
        }) ;

        //new
        $('.use-Address').on('click', function (e) {
            e.preventDefault();
            var addrID = parseInt($(this).attr('data-adddressid'));
            console.log(addrID);

            shipID.push(addrID);
            console.log(shipID);
            // $("#shipIDOmise").val(addrID) ;
            selectedAddressID = addrID;
            $(".shipAddress").removeClass("shipAddress-active");
            $("#" + addrID).addClass("shipAddress-active");
        })

        $('#newAddr').on('click', function (e) {
            $('#insertAddress').css('display', 'block');
        })

        //new confirm store
        $('#confirm').on('click', function (e) {

            for (i = 0; i < shipID.length; i++) {
                var shipIDtoSend = parseInt(shipID[shipID.length - 1]);
            }

            console.log(shipIDtoSend);

            option = document.getElementById('bank').getAttribute('value');
            //     var option3 = $("#bank").val() ;
            console.log("Option :", option);

            if (option === undefined || selectedAddressID === null) {
                alert("Please select your option to payment!");
            } else {
                alert("โปรดจำหมายเลขคำสั่งซื้อของคุณ !!!")
                //    selectedAddressID 
                var settings = {
                    "url": "/cart/checkout?shipIDtoSend=" + shipIDtoSend,
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    "data": {
                        "address": selectedAddressID,
                        "paymentOption": option
                    }
                };

                $.ajax(settings)
                    .done(function (response) {
                        window.location.href = `/cart/checkout/complete/${response}`;

                    });


            }

        })

        $('#confirm2').on('click', function (e) {

        /*    for (i = 0; i < shipID.length; i++) {
                var shipIDtoSend = parseInt(shipID[shipID.length - 1]);
            }

            console.log(shipIDtoSend); */

            option = document.getElementById('store').getAttribute('value');
            //   var option = $("#bank").val() ;
            console.log("Option : ", option);

       /*     if (option === undefined) {
                alert("Please select your option to payment!");
            } else {
                alert("โปรดจำหมายเลขคำสั่งซื้อของคุณ !!!")
                //    selectedAddressID 
                var settings = {
                    "url": "/cart/store" ,
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    "data": {
                        "paymentOption": option,
                        "shipID" : "-"
                    }
                };

                $.ajax(settings)
                    .done(function (response) {
                        window.location.href = `/cart/checkout/complete/${response}`;

                    });


            } */

            var settings = {
                    "url": "/cart/store" ,
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    "data": {
                        "paymentOption": option
                    }
                };

                $.ajax(settings)
                    .done(function (response) {
                        window.location.href = `/cart/checkout/complete/${response}`;

                    });

        })


        //userID', 'district', 'province', 'postalCode', 'address', 'subdistrict'
        $('#userAddress').on('click', function (e) {
            window.location.reload();
            var settings = {
                "url": "/users/address/save",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                "data": {
                    "district": $('#district').val(),
                    "province": $('#provinces').val(),
                    "postalcode": $('#postID').val(),
                    "address": $('#detail').val(),
                    "subdistrict": $('#subDistrict').val()
                }
            };

            $.ajax(settings)
                .done(function (response) {
                    alert(response);

                });
        })

    </script>


</html>