<!DOCTYPE html>
<html lang="en">

<head>
    <title>KMUTT Online Bookstore</title>
</head>
<style>
    body {
        padding-top: 10px;
    }
</style>
<% include layouts/header.ejs %>
 
    <body>
        <% include layouts/navbar.ejs %>

        Test Noti
        <% if(notify!=null) { %>
            <% for(let i=0; i < notify.length; i++) { %>
              Order Number : <%=notify[i].orderNumber%>
                <%=notify[i].message%>
                  <% } %>
                    <% } else { %>
                      Empty
                    <% } %>
        
        Staff <%=staff%>
        User <%=user%>
        Noti <%=notify%>
           
    </body>
    <% include layouts/footer.ejs %>
     

</html>