<!DOCTYPE html>
<html lang="en">
<title>KMUTT Online Bookstore</title>

<% include layouts/header.ejs %>
<style>
    body{
        padding-top: 10px;
    }
</style>
    <body>
        <% include layouts/navbar.ejs %>

            <h4 class="text-center">ประวัติการสั่งซื้อของคุณ</h4>

            <% for(let i=0; i < orderbooks.length; i++ ) { %>
                <tr>
                    <th scope="row">
                        <b>เลขคำสั่งซื้อของคุณ </b>
                        <%= orderbooks[i].order_id %> <br>
                    </th>
                    <td>
                        <b> ชื่อหนังสือ </b>
                        <%= orderbooks[i].book_name%> <br>
                    </td>
                    <td>
                        <b>จำนวน</b>
                        <%= orderbooks[i].quantity %> <b>เล่ม</b> <br>
                    </td>
                    <td>
                        <b>ราคา</b>
                        <%= orderbooks[i].total_price %> <b>บาท</b> <br>
                    </td>
                    <td>
                        <b>สั่งซื้อเมื่อวันที่</b>
                        <%= orderbooks[i].created_at %> 
                    </td><br><br>
                </tr>
                <%}%>






    </body>
    <% include layouts/footer.ejs %>



</html>